* {
  margin: 0px;
  padding: 0px;
}
body {
  background: url(./images.jpeg) center, center, no-repeat;
  background-size: cover;
}
.navbar {
  height: 100px;
  width: 100%;
  padding-bottom: 10px;
 
}
.navbar img {
  height: 60px;
  width: 60px;
  margin: 5px;
  padding: 5px;
  margin: auto;
  display: block;
}
.navbar h1 {
  text-align: center;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    border: 2px solid black;
    height: 400px;
    width: 40%;
    margin: auto;
    display: block;
padding: 15px;
overflow-y: auto;
}
.container input{
    margin: 10px;
    padding: 0px 5px;
    border-radius: 15px;
    height: 20px;
    color: black;
}
.messageright{
    float: right;
    padding: 10px 0px;
    clear: both;
}
.messageleft{
    float: left;
    clear: both;
    
}
.send{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: auto;
    display: block;
    margin-top: 2px;
}
.inp{
   width: 80%;
   height: 40px;
   border-radius: 10px;
   cursor: pointer;
}
.btnn{
    width: 100px;
    height: 40px;
    border-radius: 10px;
}
.btnn:hover{
    color: white;
    background-color: rgb(201, 198, 198);
    cursor: pointer;
}








